.main-container{
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}
.box{
  width: 100%;
  background-color: #fff;
  padding: 1rem;
}
.box2{
  display: flex;
  justify-content: end;
  margin-top: 1rem;
}
.t_price{
  font-size: 2rem;
}